## Data Importing and Cleaning -- 

[CDC Wonder](https://wonder.cdc.gov) - compressed mortality

In [1]:
#import dependencies

import pandas as pd
import csv
import os
import requests

In [10]:
file = print('/Users/EricaLei/Desktop/Opioid-Analysis-/e_resources/')
test =str(file)
type(test)

/Users/EricaLei/Desktop/Opioid-Analysis-/e_resources/

str

In [13]:
def file_open(file_name):
    '''opens the txt file as csv, drops the note column,drops the na values'''
    my_csv = os.path.join("/Users/EricaLei/Desktop/Opioid-Analysis-/e_resources/", file_name + ".txt")
    #print(my_csv)
    csv_file = pd.read_csv(my_csv, sep='\t')
    csv_nonotes = csv_file.drop(["Notes","Year Code","State Code","Race Code"],axis=1)
    csv_edited = csv_nonotes.dropna(axis=0,how='all')
    return csv_edited

In [40]:
opioid_09 = file_open("Opioid_2009")
opioid_10 = file_open("Opioid_2010")
opioid_11 = file_open("Opioid_2011")
opioid_12 = file_open("Opioid_2012")
opioid_16 = file_open("Opioid_2016")

#merge my files

df_1 = pd.merge(opioid_09,opioid_10,how="outer")
df_2 = pd.merge(df_1,opioid_11, how="outer")
df_3 = pd.merge(df_2, opioid_12, how = "outer")

In [38]:
df_3.head()

,Year,State,Race,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
0,2009.0,Alabama,White,15-24 years,15-24,Male,M,14.0,227585.0,Unreliable
1,2009.0,Alabama,White,25-34 years,25-34,Male,M,38.0,209864.0,18.1
2,2009.0,Alabama,White,35-44 years,35-44,Female,F,25.0,221942.0,11.3
3,2009.0,Alabama,White,35-44 years,35-44,Male,M,27.0,226271.0,11.9
4,2009.0,Alabama,White,45-54 years,45-54,Female,F,31.0,252180.0,12.3

In [39]:
df_3.groupby("Year")["Deaths"].sum()

Year
2009.0    19000.0
2010.0    20269.0
2011.0    22869.0
2012.0    20603.0
Name: Deaths, dtype: float64

In [41]:
opioid_16.groupby("Year")["Deaths"].sum()

Year
2016.0    40476.0
Name: Deaths, dtype: float64

In [34]:
#export to csv

df_3.to_csv("/Users/EricaLei/Desktop/Opioid-Analysis-/opioid_fouryears.csv",index=False)