## Data Importing and Cleaning -- 

[CDC Wonder](https://wonder.cdc.gov) - compressed mortality

In [1]:
#import dependencies

import pandas as pd
import csv
import os
import requests

In [2]:
file = print('/Users/EricaLei/Desktop/Opioid-Analysis-/e_resources/')
test =str(file)
type(test)

/Users/EricaLei/Desktop/Opioid-Analysis-/e_resources/

str

In [4]:
def file_open(file_name):
    '''opens the txt file as csv, drops the note column,drops the na values'''
    my_csv = os.path.join("/Users/EricaLei/Desktop/Opioid-Analysis-/e_resources/", file_name + ".txt")
    #print(my_csv)
    csv_file = pd.read_csv(my_csv, sep='\t')
    csv_nonotes = csv_file.drop(["Notes","Year Code","State Code","Race Code"],axis=1)
    csv_edited = csv_nonotes.dropna(axis=0,how='all')
    return csv_edited

In [7]:
opioid_09 = file_open("Opioid_2009")
opioid_10 = file_open("Opioid_2010")
opioid_11 = file_open("Opioid_2011")
opioid_12 = file_open("Opioid_2012")
opioid_13 = file_open("Opioid_2013")
opioid_14 = file_open("Opioid_2014")
opioid_15 = file_open("Opioid_2015")
opioid_16 = file_open("Opioid_2016")

#merge my files

df_1 = pd.merge(opioid_09,opioid_10,how="outer")
df_2 = pd.merge(df_1,opioid_11, how="outer")
df_3 = pd.merge(df_2, opioid_12, how = "outer")
df_4 = pd.merge(df_3,opioid_13,how="outer")
df_5 = pd.merge(df_4, opioid_14, how="outer")
df_6 = pd.merge(df_5, opioid_15, how="outer")
total_df = pd.merge(df_6, opioid_16, how="outer")

In [9]:
total_df.tail()

,Year,State,Race,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Deaths,Population,Crude Rate
4092,2016.0,Wisconsin,White,45-54 years,45-54,Male,M,77.0,356181.0,21.6
4093,2016.0,Wisconsin,White,55-64 years,55-64,Female,F,62.0,377677.0,16.4
4094,2016.0,Wisconsin,White,55-64 years,55-64,Male,M,55.0,373939.0,14.7
4095,2016.0,Wisconsin,White,65-74 years,65-74,Female,F,16.0,258251.0,Unreliable
4096,2016.0,Wisconsin,White,65-74 years,65-74,Male,M,11.0,244115.0,Unreliable

In [10]:
total_df.groupby("Year")["Deaths"].sum()

Year
2009.0    19000.0
2010.0    20269.0
2011.0    22869.0
2012.0    20603.0
2013.0    24346.0
2014.0    27728.0
2015.0    31951.0
2016.0    40476.0
Name: Deaths, dtype: float64

In [11]:
opioid_16.groupby("Year")["Deaths"].sum()

Year
2016.0    40476.0
Name: Deaths, dtype: float64

In [12]:
#export to csv

total_df.to_csv("/Users/EricaLei/Desktop/Opioid-Analysis-/detailed_mortality.csv",index=False)